
body{
    background-image: linear-gradient(135deg,#0c5073,#1080b6,#169ad7,#22bdd9,#72c7ef) ;
   height: 650px;
}


#title
{
    text-align: center;
    font-family: raleway;
    font-size: 50px;
    color: whitesmoke;
}
.words
{
margin-left: 33%;
background-color: white;
padding: 30px 30px 30px 30px;
size: 100%;
width: 430px;
height: 250px;
border-radius: 20px;
}
#start-btn
{
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 0.6rem 1.8rem;
  margin-left: 25%;
  background-color: #1179e7;
  border: none;
  border-radius: 25px;
  color: white;
  text-transform: uppercase;
  cursor: pointer;
  text-decoration: none;
  
}
#stop
{
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 7%;
  padding: 0.6rem 1.8rem;
  background-color: #1179e7;
  border: none;
  border-radius: 25px;
  color: white;
  text-transform: uppercase;
  cursor: pointer;
  text-decoration: none;
}
#instructions
{
    text-align: center;
    font-family: raleway;
}
#signout
{
    margin-left: 46%;
    margin-top: 5px;
  margin-bottom: 5px;
  padding: 0.6rem 1.8rem;
  background-color: white;
  border: none;
  border-radius: 25px;
  color:  #1179e7;
  text-transform: uppercase;
  cursor: pointer;
  text-decoration: none;
}
#textbox{
  margin-left: 20px;
}
