

h1
{
    margin-top: 20%;
    font-family: raleway;
    text-align: center;
    color: #fff;
}

body
{
    height: 1000px;
    background-image: linear-gradient(135deg,#0c5073,#1080b6,#169ad7,#22bdd9,#72c7ef) ;
}


#sub
{
  margin-left: 44%;
  padding: 0.6rem 1.8rem;
  background-color:tomato;
  border: none;
  border-radius: 25px;
  color: #fff;
  text-transform: uppercase;
  cursor: pointer;
  text-decoration: none;
}

#sub:hover
{
    background: orangered;
}